body{
	background-image: url('../images/debut_light.png');
}
.info{
	position: relative;
	top: 50px;
	margin: 0 auto;
	text-align: center;
	font-size: 24px;
	font-weight: 500;
	font-family: sans-serif;
}

.login{
	position: relative;
	top: 70px;
	left: 38%;
	width: 240px;
	margin: 0 auto;
	margin-top: 10px;
}
.login button{
	font-size: 20px;
	height: 40px;
	border-radius: 4px;
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
	padding:5px 20px;
}

.login button:hover{
	background-color: #6dc97e;
}

.oauth_status{
	position: absolute;
	right: 1%;
	top: 10px;
	font-size: 18px;
}
.oauth_status .username{
	color: #5cb85c;
}

table.annotations{
	position: relative;
	margin: 0 auto;
	width: 80%;
	top: 30px;
	border: 2px solid #dadada;
}

table.annotations tr{
	width: 100%;
	height: 35px;
	vertical-align: middle;
}

table.annotations tr:nth-child(even) {
	background-color: #eeeeee;
}

table.annotations tr th,td{
	width: 140px;
	text-align: center;
}

table.annotations tr th,td:first-child{
	width: 40%;
}

table.annotations tr th,td:last-child{
	width: 18%;
}

table.annotations tr:first-child{
	font-weight: bold;
	font-size: 18px;
}

@media (min-width: 1000px){
	.login{
		left: 42%;
	}
}