.info{
	position: relative;
	top: 50px;
	margin: 0 auto;
	text-align: center;
	font-size: 24px;
	font-weight: 500;
	font-family: sans-serif;
}

.login{
	position: relative;
	top: 70px;
	left: 38%;
	width: 240px;
	margin: 0 auto;
	margin-top: 10px;
}
.login button{
	font-size: 20px;
	height: 40px;
	border-radius: 4px;
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
	padding:5px 20px;
}

.login button:hover{
	background-color: #6dc97e;
}

.oauth_status{
	position: relative;
	left: 37%;
	top: 90px;
	font-size: 18px;
}
.oauth_status .username{
	color: #5cb85c;
}

@media (min-width: 1000px){
	.login{
		left: 42%;
	}
}